rules_version = '2';
service firebase.storage {
 match /b/{bucket}/o {
  function isAdmin(){return request.auth != null && request.auth.token.admin == true;}
  match /memories/{memoryId}/{fileName}{
   allow read: if true;
   allow write: if isAdmin() && request.resource.size < 250 * 1024 * 1024
     && (request.resource.contentType.matches('image/.*') || request.resource.contentType.matches('video/.*'));
   allow delete: if isAdmin();
  }
  match /{allPaths=**}{allow read,write: if false;}
 }
}